* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppings', sans-serif;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ebf5fc;
} */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  flex-wrap: wrap;
  padding: 40px 0;
}

.card-container .card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.05),
    inset -5px -5px 5px rgba(255, 255, 255, 0.05),
    5px 5px 5px rgba(0, 0, 0, 0.5), -5px -5px 5px rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 30px;
}

.card-container .card .box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #ebf5fc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.card-container .card:hover .box {
  transform: translateY(-50px);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  background: linear-gradient(45deg, #70af85, #16697a);
}

.card-container .card .box .content {
  padding: 20px;
  text-align: center;
}

.card-container .card .box .content .card-number {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(0, 0, 0, 0.02);
  transition: 0.5s;
  pointer-events: none;
}

.card-container .card:hover .box .content .card-number {
  color: rgba(0, 0, 0, 0.05);
}

.card-container .card .box .content .card-title {
  font-size: 1.8em;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.card-container .card .box .content .card-text {
  font-size: 1em;
  font-weight: 300;
  color: #777;
  z-index: 1;
  transition: 0.5s;
}

.card-container .card:hover .box .content .card-title,
.card-container .card:hover .box .content .card-text {
  color: #fff;
}

.card-container .card .box .content .card-link {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: #16697a;
  margin-top: 15px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-container .card:hover .box .content .card-link {
  background: #ff568f;
}
