* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #dac4c4;
  text-decoration: none;
}

.navbar-grey { 
	background-color: #262728; 
} 

.navbar-grey .navbar-text , 
.navbar-grey .navbar-brand {
  color:slategray;
}

.btn-primary {
  background-color: #262728 !important; 
  border: none !important;
}